<h1>Forms Generator</h1>
<p>Welcome to the Forms Generator!</p>
<%= link_to "Show Surveys", surveys_path %><br />
<%= link_to "Create New Survey", new_survey_path %><br />
<%= link_to "Statistics", recorded_answers_path %><br />
